In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns

## Exploração com os dados brutos

In [ ]:
df = pd.read_csv('../data/raw/dataset_imoveis_sp.csv')

df.head()

In [ ]:
df.isnull().sum()

In [ ]:
df = pd.read_csv('../data/raw/dataset_imoveis_sp.csv')
df['district'].value_counts()

## Exploração com os dados tratatos e limpos

In [2]:
df = pd.read_csv('../data/processed/dataset_imoveis_sp_clean.csv')
df.head()

,area,bedrooms,garage,rent,zone_Centro,zone_Leste,zone_Norte,zone_Oeste,zone_Sul,type_Apartamento,type_Casa,type_Casa em condomínio,type_Studio e kitnet
0,21,1,0,2400,False,True,False,False,False,False,False,False,True
1,50,2,1,3800,False,True,False,False,False,True,False,False,False
2,63,2,0,1500,True,False,False,False,False,True,False,False,False
3,34,1,0,1000,True,False,False,False,False,True,False,False,False
4,32,1,0,2100,False,True,False,False,False,False,False,False,True

In [ ]:
df = pd.read_csv('../data/processed/dataset_imoveis_sp_clean.csv')
df.isnull().sum()

In [ ]:
import pandas as pd
df = pd.read_csv('../data/processed/dataset_imoveis_sp_clean.csv')
df.isnull().sum()

In [ ]:
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns

df = pd.read_csv('../data/processed/dataset_imoveis_sp_clean.csv')

def plot_area_vs_rent(df):

    sns.scatterplot(data=df, x='area', y='rent')
    
    plt.title('Área vs Aluguel')
    plt.xlabel('Área (m²)')
    plt.ylabel('Aluguel (R$)')
    
    plt.show()

plot_area_vs_rent(df)

In [ ]:
import matplotlib.pyplot as plt

# Identificar as colunas que representam as zonas
zone_columns = [col for col in df_clean.columns if col.startswith('zone_')]

# Configurar o gráfico
plt.figure(figsize=(10, 6))

# Loop para adicionar os pontos de cada zona no scatter plot
for zone in zone_columns:
    zone_name = zone.replace('zone_', '')
    df_zone = df_clean[df_clean[zone] == 1]  # Filtra os dados para a zona específica
    
    plt.scatter(
        df_zone['area'],   # Área dos imóveis
        df_zone['rent'],   # Aluguel dos imóveis
        label=zone_name,   # Nome da zona para a legenda
        alpha=0.6,         # Transparência para sobreposição
    )

# Configurar os detalhes do gráfico
plt.title('Relação entre Área e Aluguel por Zona')
plt.xlabel('Área (m²)')
plt.ylabel('Aluguel (R$)')
plt.legend(title='Zona')
plt.grid(alpha=0.3)
plt.show()

In [ ]:
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns

df = pd.read_csv('../data/processed/dataset_imoveis_sp_clean.csv')

def plot_bedrooms_vs_rent(df):

    sns.scatterplot(data=df, x='bedrooms', y='rent')
    
    plt.title('Quartos vs Aluguel')
    plt.xlabel('Quantidade de quartos')
    plt.ylabel('Aluguel (R$)')
    
    plt.show()

plot_bedrooms_vs_rent(df)

In [ ]:
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns

df = pd.read_csv('../data/processed/dataset_imoveis_sp_clean.csv')

def plot_garage_vs_rent(df):

    sns.scatterplot(data=df, x='garage', y='rent')
    
    plt.title('Garagem vs Aluguel')
    plt.xlabel('Quantidade de vagas(garagem)')
    plt.ylabel('Aluguel (R$)')
    
    plt.show()

plot_garage_vs_rent(df)

In [18]:
df = pd.read_csv('../data/processed/dataset_imoveis_sp_clean.csv')
df.head()

,area,bedrooms,garage,rent,zone_Centro,zone_Leste,zone_Norte,zone_Oeste,zone_Sul,type_Apartamento,type_Casa,type_Casa em condomínio,type_Studio e kitnet
0,21,1,0,2400,False,True,False,False,False,False,False,False,True
1,50,2,1,3800,False,True,False,False,False,True,False,False,False
2,63,2,0,1500,True,False,False,False,False,True,False,False,False
3,34,1,0,1000,True,False,False,False,False,True,False,False,False
4,32,1,0,2100,False,True,False,False,False,False,False,False,True

In [1]:
import sys
sys.path.append('src/visualizations.py')

from visualizations import (
    load_data, 
    plot_area_vs_rent, 
    plot_bedrooms_vs_rent, 
    plot_garage_vs_rent, 
    plot_area_vs_rent_by_zone, 
    plot_avg_rent_by_zone
)

df_clean = load_data('../data/processed/dataset_imoveis_sp_clean.csv')

plot_area_vs_rent(df_clean)
plot_bedrooms_vs_rent(df_clean)
plot_garage_vs_rent(df_clean)
plot_area_vs_rent_by_zone(df_clean)
plot_avg_rent_by_zone(df_clean)

ModuleNotFoundError: No module named 'visualizations'